<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mju.app.mapper.EmployeeMapper">
	<select id="getEmployee" parameterType="java.lang.Integer" resultType="com.mju.app.domain.Employee">
		SELECT * FROM employee WHERE emp_id = #{id};
	</select>

	<select id="loginEmployee" parameterType="com.mju.app.domain.Employee" resultType="com.mju.app.domain.Employee">
		SELECT * FROM employee WHERE emp_email = #{empEmail} AND pass = #{pass};
	</select>
</mapper>