<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mju.app.mapper.InputMapper">
	<select id="getAllInputs" resultType="com.mju.app.domain.Input">
		SELECT * FROM input;
	</select>

	<select id="getinput" parameterType="java.lang.Integer" resultType="com.mju.app.domain.Input">
		SELECT * FROM input WHERE prj_id = #{id};
	</select>
	
</mapper>